<!-- Sidebar Component -->
<nav class="sidebar">
    <div class="logo">
        <strong data-brand="Trang Sức">TRANG SỨC</strong>
    </div>
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="index.php?url=dashboard" class="sidebar-nav-link" data-page="dashboard">
                <img src="https://cdn-icons-png.flaticon.com/512/1828/1828765.png" alt="Dashboard" class="sidebar-nav-icon">
                Dashboard
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="index.php?url=products" class="sidebar-nav-link" data-page="products">
                <img src="https://cdn-icons-png.flaticon.com/512/3081/3081559.png" alt="Products" class="sidebar-nav-icon">
                Sản Phẩm
            </a>
        </li>
      
        <li class="sidebar-nav-item">
            <a href="index.php?url=collections" class="sidebar-nav-link" data-page="collections">
                <img src="https://cdn-icons-png.flaticon.com/512/3208/3208676.png" alt="Collections" class="sidebar-nav-icon">
                Bộ Sưu Tập
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="index.php?url=orders" class="sidebar-nav-link" data-page="orders">
                <img src="https://cdn-icons-png.flaticon.com/512/3063/3063822.png" alt="Orders" class="sidebar-nav-icon">
                Đơn Hàng
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a href="index.php?url=customers" class="sidebar-nav-link" data-page="customers">
                <img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Customers" class="sidebar-nav-icon">
                Khách Hàng
            </a>
        </li>
       
    </ul>
    
</nav>