<!-- Table Card Component -->
<div class="table-card">
    <div class="table-header">
        <h5 class="table-title" data-table-title="Data Table">Data Table</h5>
        <div class="dropdown">
            <button class="btn btn-link" type="button" data-bs-toggle="dropdown">
                <img src="https://cdn-icons-png.flaticon.com/512/2311/2311524.png" alt="More" width="20" height="20">
            </button>
            <ul class="dropdown-menu" data-table-actions>
                <li><a class="dropdown-item" href="#">Export CSV</a></li>
                <li><a class="dropdown-item" href="#">Export PDF</a></li>
                <li><a class="dropdown-item" href="#">Print</a></li>
            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead data-table-header>
                <!-- Table headers will be inserted here -->
            </thead>
            <tbody data-table-body>
                <!-- Table rows will be inserted here -->
            </tbody>
        </table>
    </div>
</div>